.botoes-pdf {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.botoes-pdf button {
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.botoes-pdf {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.botoes-pdf button {
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}



.pdf-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.pdf-content {
    width: 70%;
    height: 90%;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.pdf-header {
    padding: 10px 15px;
    background: #0a2540;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pdfPreview {
    flex: 1;
    width: 100%;
    border: none;
}


.botoes-pdf {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 12px;
}

.botoes-pdf button {
  padding: 8px 14px;
  font-size: 13px;
  border-radius: 8px;
  font-weight: 600;
  min-width: 110px;
  height: 38px;
}


.pdf-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}



.pdf-header {
    padding: 10px 15px;
    background: #0a2540;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pdfPreview {
    flex: 1;
    width: 100%;
    border: none;
}


/* Desktop */
#btnWhatsapp {
  padding: 8px 16px !important;
  font-size: 14px !important;
  height: 38px !important;
  border-radius: 8px !important;
}
